:root {
	--c-lighter: #f1f2f6;
	--c-light: #ced6e0;
	--c-medium: #2ed573;
	--c-dark: #1e90ff;
	--c-darker: #3742fa;
}

body {
	background-color: var(--c-lighter);
}

.font-largest {
	font-size: 3em;
}

/* ||-（左）侧边栏 */
#asideBar {
	display: flex;
	flex-direction: column;
	align-items: center;

	position: fixed;
	z-index: 999;
	left: 0;
	top: 0;
	bottom: 0;

	width: 50px;
	padding: 10px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;

	background-color: var(--c-light);
	box-shadow: 2px 0 5px 1px rgba(128, 128, 128, 0.4);
	opacity: 0.9;
}

.head_portrait {
	display: block;
	max-width: 100%;
	border: 3px solid black;

	border-radius: 100%;
}

a {
	color: #000;
	font-weight: bold;

}

.links {
	margin: 20px;
}

.links li {
	margin: 5px auto;
	border: 1px solid #bbb;
	border-radius: 5px;
	padding: 0 4px;

	color: #000;
	background-color: var(--c-lighter);
}

.links li:hover {
	background-color: var(--c-dark);
	color: #fff;

	transition: background-color .4s ease-in-out;
}

/* ||-主要窗口 */
#mainWindow {
	position: relative;
	min-width: 100%;
	height: fit-content;
}

.section {
	position: relative;
	height: 100vh;
	padding-left: 100px;
	padding-right: 30px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#section_1 {
	/* background-color: #74EBD5; */
	background-image: -webkit-linear-gradient(121deg, #74EBD5 0%, #9FACE6 100%);
	background-image: -moz-linear-gradient(121deg, #74EBD5 0%, #9FACE6 100%);
	background-image: -o-linear-gradient(121deg, #74EBD5 0%, #9FACE6 100%);
	background-image: linear-gradient(121deg, #74EBD5 0%, #9FACE6 100%);
	background-image: url('../asset/image/bg-snowMounts.jpg');
}

#selfIntroduction {
	position: relative;
	top: 50%;

	box-sizing: border-box;

	width: fit-content;
	padding: 2em 2em;
	margin: 0 auto;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 20px;

	transform: translateY(-50%);

	backdrop-filter: blur(5px);
	box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.3);

	text-align: center;
}

#selfIntroduction>p{
	margin: 10px auto;
}

.text-color {
	background: linear-gradient(-90deg, #1CB5E0 0%, #000851 100%);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

.tag {
	background-color: var(--c-medium);
	color: #fff;
	padding: 2px 6px;
	border-radius: 6px;
	font-size: .8em;
	font-weight: 400;
	letter-spacing: 2px;
}