#Home {
	/* background-color: #74EBD5; */
	background-image: -webkit-linear-gradient(121deg, #74EBD5 0%, #9FACE6 100%);
	background-image: -moz-linear-gradient(121deg, #74EBD5 0%, #9FACE6 100%);
	background-image: -o-linear-gradient(121deg, #74EBD5 0%, #9FACE6 100%);
	background-image: linear-gradient(121deg, #74EBD5 0%, #9FACE6 100%);
	background-image: url('../images/bg-snowMounts.jpg');
}

/* 3d-场景-翻转卡片 */
#scene_flip-cards {
	position: relative;
	top: 50%;
	transform: translateY(-50%);

	width: 60%;
	min-width: 500px;
	height: 40%;
	margin: 0 auto;
}

/* 3d-工件-翻转卡片 */
#work_flip-cards {
	box-sizing: border-box;
	height: 100%;
	transition: 1s;
	border-radius: 20px;
	/* backdrop-filter: blur(50px); */
}

/* 卡片样式 */
.sheet_card {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	padding: 2em;
	border-radius: 20px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, .1);
	transition: 1s;
}

.element_card-front {
	backdrop-filter: blur(50px);
	backface-visibility: hidden;
}

.element_card-back {
	backdrop-filter: blur(50px);
	transform: rotateY(180deg);
	backface-visibility: hidden;
}

/* 3d-动作-反转 */
.flipping-front {
	transition: 1s;
	transform: rotateY(180deg);
}
.flipping-back {
	transition: 1s;
	transform: rotateY(360deg);
}

.text-color {
	background: linear-gradient(-90deg, #1CB5E0 0%, #000851 100%);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

.text-align{
	text-align: center;
}

.flex-column{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.tag {
	background-color: var(--c-medium);
	color: #fff;
	padding: 2px 6px;
	border-radius: 6px;
	font-size: .8em;
	font-weight: 400;
	letter-spacing: 2px;
}