:root {
	--c-lighter: #f1f2f6;
	--c-light: #ced6e0;
	--c-medium: #2ed573;
	--c-dark: #1e90ff;
	--c-darker: #3742fa;
}

body {
	background-color: var(--c-lighter);
	min-width: 700px;
}

a {
	color: #000;
	font-weight: bold;
}

.font-largest {
	font-size: 3em;
}

/* ||-（左）侧边栏 */
#asideBar {
	/* 布局 */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	/* 定位 */
	position: fixed;
	z-index: 999;
	left: 0;
	top: 0;
	bottom: 0;

	/* 样式 */
	width: 40px;
	padding: 10px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;

	/* 视觉效果 */
	background-color: var(--c-light);
	box-shadow: 2px 0 5px 1px rgba(128, 128, 128, 0.4);
	opacity: 0.9;
}

/* 1-头像区 */
#head_portrait {
	width: 30px;
	height: 30px;
	border: 1px solid #000;
	border-radius: 100%;
	overflow: hidden;
}

#head_portrait>img {
	display: inline-block;
	width: 100%;
	transform: translate(0, -25%)
}

/* 2-导航区 */
.ul-asideBarNav {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.ul-asideBarNav-li {
	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 35px;
	height: 35px;
	border-radius: 8px;
	margin-bottom: 3em;

	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: 0 0 5px rgba(0, 0, 0, .5);
	opacity: 0.5;
	transition: 1s;

	overflow: hidden;
}

.ul-asideBarNav-li::after {
	content: "";
	position: absolute;
	bottom: 0;
	height: 0%;
	width: 100%;
	border-radius: 8px;

	background-color: #fff;
	transition: .5s;
}

.ul-asideBarNav-li_activate {
	position: relative;
	transition: .2s;
	opacity: 1;
}

.ul-asideBarNav-li_activate::after {
	content: "";
	position: absolute;
	bottom: 0;
	z-index: -1;

	height: 100%;
	width: 100%;
	border-radius: 8px;

	background-color: #fff;
	transition: .5s;
}

/* 3-外链区 */
.links {
	margin: 20px;
}

.links li {
	margin: 5px auto;
	border: 1px solid #bbb;
	border-radius: 5px;
	padding: 0 4px;

	background-color: var(--c-lighter);
}

.links li:hover {
	background-color: var(--c-medium);
	transition: background-color .4s ease-in-out;
}

.links li:hover a {
	color: #fff;
	transition: background-color .4s ease-in-out;
}

/* ||-主要窗口 */
#mainWindow {
	position: relative;
	height: 100vh;
	scroll-behavior: smooth;
	overflow-y: scroll;
}

.section {
	position: relative;
	height: 100vh;
	padding-left: 100px;
	padding-right: 30px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
